<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confidential & Co.</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
    
</head>
<body>
    <header>
        <img src="{{ url_for('static', filename='images/logo_black.png')}}" alt="Logo" class="logo">
    </header>

    <section class="intro-section">
        <h1>Confidential & Co.</h1>
        <p>Securely orchestrate the world's most valuable assets</p>
        <a href="https://docs.google.com/forms/d/e/1FAIpQLSfLaC00Xwsy4_gEUYjP7U4vvz-QX_ZiIOQlEEezwr3vqneiNw/viewform?fbclid=IwY2xjawHqsORleHRuA2FlbQIxMAABHSD4S5JJYonk2o4pvLQuo5JNnmkASRplorqV-nApu_lJ4VGwleRQR9brOg_aem_OcZlPmaj7OO2rUNGYJAGQQ">
            <button class="button1">Contact Us</button>
        </a>
    </section>

    <section>
        <h2 class="core-title">Core Values</h2>
        <div class="core-values">
            <div class="value-card">
                <img src="{{ url_for('static', filename='images/fist.png')}}" alt="Be Revolutionary">
                <h3>Be Revolutionary</h3>
                <p>Innovate and iterate tirelessly.</p>
            </div>
            <div class="value-card">
                <img src="{{ url_for('static', filename='images/bulb.png')}}" alt="Be Curious">
                <h3>Be Curious</h3>
                <p>Continuously observe and explore for fresh insights.</p>
            </div>
            <div class="value-card">
                <img src="{{ url_for('static', filename='images/love.png')}}" alt="Be Empathetic">
                <h3>Be Empathetic</h3>
                <p>Build genuine empathy, aligning with shared values and customer needs.</p>
            </div>
            <div class="value-card">
                <img src="{{ url_for('static', filename='images/friend.png')}}" alt="Be Impactful">
                <h3>Be Impactful</h3>
                <p>Turn insights into solutions and measurable outcomes.</p>
            </div>
            <div class="value-card">
                <img src="{{ url_for('static', filename='images/lock.png')}}" alt="Be Confidential">
                <h3>Be Confidential</h3>
                <p>Protect company and individual integrity, prioritize discretion.</p>
            </div>
        </div>
    </section>

    <footer>
        <p>&copy; 2025 Confidential & Co.</p>
    </footer>
</body>
</html>
